@page "/personas/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

    <h1 class="text-center">Crear Persona</h1>
    <div class="mt-3">
        <FormularioPersonas OnValidSubmit="Crear" Persona="Persona" />
    </div>


@code {
    private Persona Persona = new Persona();

    private async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/personas", Persona);

        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/personas");
        }
    }
}
